<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo scrollTo" href="#wrapper">
            <img src="{{ arrGlobals.strLogo }}" class="logo-main" alt="Duane Leem" />
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
            <nav class="nav-main mega-menu">
                <!-- Homepage -->
                <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                    <li><a class="scrollTo" href="#wrapper">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">
                            About <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Public Content -->
                            <li><a id="linkSummary" class="scrollTo" href="#summary">Career Summary</a></li>
                            <li><a id="linkPortfolio" class="scrollTo" href="#portfolio">Portfolio</a></li>
                            <li><a class="scrollTo" href="#sectionFooter">Contact</a></li>
                        </ul>
                    </li>
                    <li><a href="https://blog.duaneleem.com">Knowledgebase</a></li>
                    <li class="visible-md visible-lg"><a>|</a></li>
                    <li id="btn-github" class="visible-md visible-lg" onclick="window.open('https://github.com/duaneleem', '_blank')"></li>
                    <li id="btn-linkedin" class="visible-md visible-lg" onclick="window.open('http://www.linkedin.com/in/duaneleem', '_blank')"></li>
                    <li id="btn-googleResume" class="visible-md visible-lg" onclick="window.open('https://docs.google.com/document/d/1bvakr9gKH-lk7mX_VRstMJ-3Vv3tJLSQuiHWkOdnrUs/edit?usp=sharing', '_blank')"></li>
                    <li class="visible-xs visible-sm"><a href="https://github.com/duaneleem" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                    <li class="visible-xs visible-sm"><a href="http://www.linkedin.com/in/duaneleem" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> LinkedIn</a></li>
                    <li class="visible-xs visible-sm"><a href="https://docs.google.com/document/d/1bvakr9gKH-lk7mX_VRstMJ-3Vv3tJLSQuiHWkOdnrUs/edit?usp=sharing" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Google Document Resume</a></li>
                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->

    </div>
</header>
