<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo scrollTo" href="#wrapper">
            <img src="{{ $strLogo }}" alt="Duane Leem" />
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                    <li class="active"><a href="#wrapper">Home</a></li>
                    <li><a id="linkSummary" href="#summary">Career Summary</a></li>
                    <li><a id="linkPortfolio" href="#portfolio">Portfolio</a></li>
                    <li class="disabled"><a href="#contact">Contact</a></li>
                    <li id="btn-linkedin" onclick="window.open('http://www.linkedin.com/in/duaneleem', '_blank')"></li>
                    <li id="btn-googleResume" onclick="window.open('https://docs.google.com/document/d/1bvakr9gKH-lk7mX_VRstMJ-3Vv3tJLSQuiHWkOdnrUs/edit?usp=sharing', '_blank')"></li>
                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->

    </div>
</header>
