<!-- PORTFOLIO -->
<section id="portfolio" class="container padding100">
    <h1 class="text-center">
        <strong>Portfolio</strong>
        <span class="subtitle">A FEW OF THE PROJECTS I'VE COMPLETED :)</span>
    </h1>

    <p class="lead">
        Thank you so much for viewing a few of my work that I've worked on.  I really appreciate your time.  I'm a believer in continuous
        education and putting theory into practice.  Listed below are some of my work and achievements I've done.  For those involved in the projects
        listed below, I am truly grateful for your contribution and I am glad you are a part of my team :)    
    </p>
    
    <ul class="nav nav-pills isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
        <li data-option-value="*" class="active"><a href="#">Show All</a></li>
        <li data-option-value=".web-development"><a href="#">Web Development</a></li>
        <li data-option-value=".mobile-development"><a href="#">Mobile Development</a></li>
        <li data-option-value=".certifications"><a href="#">Certifications</a></li>
        <li data-option-value=".professional-training"><a href="#">Professional Training</a></li>
    </ul>

    <div class="row">
        <ul class="sort-destination isotope" data-sort-id="isotope-list">
            <!-- ======================================================================
                Web Development
            ======================================================================= -->
            <!-- Project: Swords-to-Plowshares.org -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-s2p'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/swords-to-plowshares.jpg" style="width: 100%; height: auto; border: 0;" alt="Swords to Plowshares" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>Swords-to-Plowshares.org</h4>
                        <small class="styleColor">August 2017</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-s2p" tabindex="-1" role="dialog" aria-labelledby="myModal-project-s2p">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Project: Swords-to-Plowshares.org | WordPress Development</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/swords-to-plowshares.jpg" alt="Swords to Plowshares" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>New Design and Responsive</h4>
                                        <h5>About Swords to Plowshares</h5>
                                        <p>
                                            Founded in 1974 by veterans, Swords to Plowshares is a community-based not-for-profit 501(c)(3) organization that 
                                            provides needs assessment and case management, employment and training, housing, and legal assistance to approximately 
                                            3,000 veterans in the San Francisco Bay Area each year.
                                        </p>
                                        
                                        <h5>My Work</h5>
                                        <p>
                                            I've re-engineered Swords-To-Plowshares.org to use the latest in Responsive Web Development and integrate
                                            WordPress as the main provider for our project stakeholders.  They now have the ability to update the website
                                            immediately by using the custom theme templates that were developed.
                                        </p>
                                        <p>
                                            In addition to the programming work, I've delivered their application's infrastructure to use AWS platform and 
                                            CloudFlare to deliver their production-ready website.
                                        </p>

                                        <h5>Technologies Used</h5>
                                        <p>
                                            HTML/CSS/JS, jQuery, WordPress, AWS (EC2, SES, RDS, CloudFront, S3)
                                        </p>

                                        <h5>Team Members</h5>
                                        <p>
                                            <a href="https://www.linkedin.com/in/robkane101/" target="_blank">Rob Kane</a>, 
                                            <a href="https://www.linkedin.com/in/derrick-leem/" target="_blank">Derrick Leem</a>, 
                                            <a href="https://www.linkedin.com/in/gtumbaga/" target="_blank">Gabe Tumbaga</a>
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="https://www.swords-to-plowshares.org" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <!-- Project: StagedHomes.com -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-stagedhomescom'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/stagedhomes.jpg" style="width: 100%; height: auto; border: 0;" alt="StagedHomes.com" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>StagedHomes.com</h4>
                        <small class="styleColor">September 2015</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-stagedhomescom" tabindex="-1" role="dialog" aria-labelledby="myModal-project-stagedhomescom">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Project: StagedHomes.com | Revamp</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/stagedhomes.jpg" alt="StagedHomes.com" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>New Design and Responsive</h4>
                                        <p>
                                            Our website needed a major upgrade.  Search engines started favoring websites that can adapt to all
                                            screen sizes.  My team and I redesigned the website so that it has an excellent view no matter what
                                            screen size our Accredited Staging Professionals (ASP) have.
                                        </p>
                                        <p>
                                            We used Bootstrap 3 for our Front-End responsive framework.  I eliminated several of the custom forms
                                            dependant on PHP, redesigned them, and completely reprogrammed the forms to use AngularJS / ExpressJS
                                            (REST API).
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, AngularJS, NodeJS/Express, Sketch (UX/UI Design),
                                            Amazon AWS, CloudFlare, PHP/MySQL
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="http://www.stagedhomes.com" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Project: IAHSP.com -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-iahspcom'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/iahsp.jpg" style="width: 100%; height: auto; border: 0;" alt="IAHSP.com" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>IAHSP.com</h4>
                        <small class="styleColor">October 2016</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-iahspcom" tabindex="-1" role="dialog" aria-labelledby="myModal-project-iahspcom">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Project: IAHSP.com | Revamp</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/iahsp.jpg" alt="IAHSP.com" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>New Design, Responsive, MEAN stack enabled.</h4>
                                        <p>
                                            IAHSP.com received a new make over using modern responsive technologies.  The website uses a 
                                            combination of Javascript frameworks to help build its functionality.
                                        </p>
                                        <p>
                                            We decided to implement the front end using Angular 4 to consume JSON objects from ExpressJS.  This
                                            helps make our web application more scalable and maintainable.
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, Angular 4, NodeJS/Express, Photoshop,
                                            Sketch (UX/UI Design), Amazon AWS, CloudFlare
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="http://www.iahsp.com" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Project: IAHSPConExpo.com -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-iahspconexpo'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/iahspconexpo.jpg" style="width: 100%; height: auto; border: 0;" alt="IAHSPConExpo.com" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>IAHSPConExpo.com</h4>
                        <small class="styleColor">September 2015</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-iahspconexpo" tabindex="-1" role="dialog" aria-labelledby="myModal-project-iahspconexpo">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Project: IAHSPConExpo.com | Revamp</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/iahspconexpo.jpg" alt="IAHSPConExpo.com" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>New Responsive Website using Angular and ExpressJS</h4>
                                        <p>
                                            I built our IAHSP&reg; Convention Expo using modern web technologies as listed below.  Tested on
                                            all major modern web browsers and with the help of GitHub Pages and Amazon AWS S3 web hosting, 
                                            our website is served up and outputs fast!
                                        </p>
                                        <p>
                                            I built the form using Angular error checking and when the form data submits, it sends the payload
                                            as a JSON object to the Express REST backend to process the email submission.  I've architected
                                            the website this way so that the only time the back-end server is used is when someone actually
                                            submits an email.  The rest of the website processing is handled by GitHub pages and AWS S3.
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, Angular, NodeJS/Express, Sketch (UX/UI Design),
                                            Google Cloud Functions, Amazon AWS, CloudFlare
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="http://www.iahspconexpo.com" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Project: Barb-Schwarz.com -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-barbschwarzcom'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/barbschwarz.jpg" style="width: 100%; height: auto; border: 0;" alt="StagedHomes.com" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>Barb-Schwarz.com</h4>
                        <small class="styleColor">September 2016</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-barbschwarzcom" tabindex="-1" role="dialog" aria-labelledby="myModal-project-barbschwarzcom">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Project: Barb-Schwarz.com</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/barbschwarz.jpg" alt="Barb-Schwarz.com" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>New Website using WordPress</h4>
                                        <p>
                                            Barb wanted a new website that will enable her to communicate with everyone.  One of her requirements
                                            was to have the ability to update the website.  She wants to convey her thoughts and would like to be
                                            able to tell that to everyone on a daily basis.  She also wanted a blog in addition to this.
                                        </p>
                                        <p>
                                            I put together a front-end webpage for her and coded that design into WordPress.  By using WordPress,
                                            she can now update the website daily on her own and also manage her own blog.
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, AngularJS, NodeJS/Express, WordPress, Amazon AWS,
                                            CloudFlare, PHP/MySQL
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="https://www.barb-schwarz.com" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Project: GetRedBox.com -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-getredbox'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/getredbox.jpg" style="width: 100%; height: auto; border: 0;" alt="GetRedBox.com" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>GetRedBox.com</h4>
                        <small class="styleColor">September 2016</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-getredbox" tabindex="-1" role="dialog" aria-labelledby="myModal-project-getredbox">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Project: GetRedBox.com</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/getredbox.jpg" alt="GetRedBox.com" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>New Website using One Page Responsive Design</h4>
                                        <p>
                                            I created GetRedBox.com as a one page responsive website using Bootstrap framework.  Rendering is fast;
                                            compatible with modern web browsers; and takes advantage of GitHub pages to minimize hosting costs for 
                                            the website owner.
                                        </p>
                                        <p>
                                            GetRedBox.com is a local IT/Telecommunications provider in the San Francisco East Bay.  Visit their new
                                            website today!
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, AngularJS, NodeJS/Express, Amazon AWS, CloudFlare
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="https://www.getredbox.com" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Project: EastBayKarate-Do.com -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-ebkd'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/ebkd.jpg" style="width: 100%; height: auto; border: 0;" alt="EastBayKarate-Do.com" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>EastBayKarate-Do.com</h4>
                        <small class="styleColor">October 2015</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-ebkd" tabindex="-1" role="dialog" aria-labelledby="myModal-project-ebkd">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Project: EastBayKarate-Do.com</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/ebkd.jpg" alt="EastBayKarate-Do.com" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>Redesigned Website and New Back-End Technology (NodeJS/Express)</h4>
                                        <p>
                                            East Bay Karate-Do had an older design and requested a new design to be developed.  I created them
                                            a responsive website using your usual Bootstrap, HTML/CSS/JS stack.  In addition, I've implemented
                                            the website to using Jade (Express).  The results was greater overall control of the web application
                                            and faster rendering by the Node server.
                                        </p>
                                        <p>
                                            East Bay Karate-Do is a provider of Okinawa Uechi-Ryu Martial Arts, and also has fitness programs.
                                            I'm also a proud karateka student at East Bay Karate-Do :)
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, NodeJS/Express/Jade, Amazon AWS, CloudFlare
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="https://www.eastbaykarate-do.com" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Project: HairSalonStudio.info -->
            <li class="isotope-item col-sm-6 col-md-3 web-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-hairsalonstudio'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/hairsalonstudio.jpg" style="width: 100%; height: auto; border: 0;" alt="HairSalonStudio.info" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>HairSalonStudio.info</h4>
                        <small class="styleColor">May 2015</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-hairsalonstudio" tabindex="-1" role="dialog" aria-labelledby="myModal-project-hairsalonstudio">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Project: HairSalonStudio.info</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/hairsalonstudio.jpg" alt="HairSalonStudio.info" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>Redesigned Website and New Back-End Technology (NodeJS/Express)</h4>
                                        <p>
                                            I helped my local hair salon with a new website using modern web technology.  I used Bootstrap for
                                            the front-end to be responsive; and ExpressJS as the server component (using JADE as the view engine).
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, NodeJS/Express/Jade, Amazon AWS, CloudFlare
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="http://www.hairsalonstudio.info" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <!-- ======================================================================
                Mobile Development
            ======================================================================= -->
            <!-- Project: Home Staging Calculator -->
            <li class="isotope-item col-sm-6 col-md-3 mobile-development">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-project-homestagingcalculator'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PROJECT</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/rosi-calculator.jpg" style="width: 100%; height: auto; border: 0;" alt="Home Staging Calculator" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>Home Staging Calculator</h4>
                        <small class="styleColor">May 2015</small>
                    </div>
                </div><!-- /item-box -->

                <!-- Modal -->
                <div class="modal fade" id="modal-project-homestagingcalculator" tabindex="-1" role="dialog" aria-labelledby="myModal-project-homestagingcalculator">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Project: Home Staging Calculator</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Image -->
                                    <div class="col-xs-12 col-md-4">
                                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/projects/rosi-calculator.jpg" alt="Home Staging Calculator" />
                                    </div><!-- /col -->

                                    <!-- Verbiage -->
                                    <div class="col-xs-12 col-md-8">
                                        <h4>Cordova Mobile Application using Intel XDK</h4>
                                        <p>
                                            To help our Accredited Staging Professionals (ASP&reg;), I've taken our spreadsheet calculator and reprogrammed
                                            it as a mobile application for both iOS and Android.  This will give our ASP&reg;'s a handy application they can
                                            use to calculator their Return on Staging Investment (ROSI&reg;).
                                        </p>
                                        <p>
                                            The new version of the Home Staging Calculator is redeveloped using the Ionic Framework to make use of the built
                                            in support for Angular.
                                        </p>
                                        <p>
                                            Technologies used: HTML/CSS/JS, Bootstrap, jQuery, Intel XDK / Ionic Framework, Cordova, iOS, Android
                                        </p>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a type="button" class="btn btn-primary" href="https://www.stagedhomes.com/public/calculator.php" target="_blank">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <!-- ======================================================================
                Certifications
            ======================================================================= -->
            <!-- AWS Certified Developer -->
            <li class="isotope-item col-sm-6 col-md-3 certifications">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-awsdeveloper'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>CERTIFICATION</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/achievements/201602-aws-developer.jpg" style="width: 100%; height: auto; border: 0;" alt="">
                    </figure>
                    <div class="item-box-desc">
                        <h4>AWS Certified Developer</h4>
                        <small class="styleColor">February 2016</small>
                    </div>
                </div>
            </li>

            <!-- Master of Science in Information Technology Management -->
            <li class="isotope-item col-sm-6 col-md-3 certifications">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-msitm'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>DEGREE</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/achievements/201504-masters-itm.jpg" style="width: 100%; height: auto; border: 0;" alt="Master of Science in Information Technology Management" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>Master of Science in IT Management</h4>
                        <small class="styleColor">April 2014</small>
                    </div>
                </div>
            </li>

            <!-- Project Management Professional -->
            <li class="isotope-item col-sm-6 col-md-3 certifications">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-pmi-pmp'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>CERTIFICATION</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/achievements/201312-pmp.jpg" style="width: 100%; height: auto; border: 0;" alt="Project Management Professional PMP" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>Project Management Professional</h4>
                        <small class="styleColor">December 2013</small>
                    </div>
                </div>
            </li>

            <!-- Certified Scrum Master -->
            <li class="isotope-item col-sm-6 col-md-3 certifications">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-scrummaster'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>CERTIFICATION</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/achievements/201404-scrum-csm.jpg" style="width: 100%; height: auto; border: 0;" alt="Certified Scrum Master CSM" />
                    </figure>
                    <div class="item-box-desc">
                        <h4>Certified Scrum Master</h4>
                        <small class="styleColor">April 2014</small>
                    </div>
                </div>
            </li>
            

            <!-- ======================================================================
                Professional Training | Achievements
            ======================================================================= -->
            <!-- MongoDB University -->
            <li class="isotope-item col-sm-6 col-md-3 professional-training">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-mongodb-2016'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>CERTIFICATE</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/achievements/201612-mongodb.png" style="width: 100%; height: auto; border: 0;" alt="MongoDB for Node.js Developers">
                    </figure>
                    <div class="item-box-desc">
                        <h4>MongoDB for Node.js Devs</h4>
                        <small class="styleColor">December 2016</small>
                    </div>
                </div><!-- /item-box -->
            </li>

            <!-- Full Stack Web Development -->
            <li class="isotope-item col-sm-6 col-md-3 professional-training">
                <div class="item-box">
                    <figure>
                        <a class="item-hover" data-toggle="modal" [attr.data-target]="'#modal-mean'">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>CERTIFICATE</strong> DETAIL
                            </span>
                        </a>
                        <img class="img-responsive" src="{{ arrGlobals.strImages }}/achievements/201606-fullstack.jpg" style="width: 100%; height: auto; border: 0;" alt="">
                    </figure>
                    <div class="item-box-desc">
                        <h4>Full Stack Web Development</h4>
                        <small class="styleColor">June 2016</small>
                    </div>
                </div><!-- /item-box -->
            </li>
        </ul>
    </div><!-- /row -->
</section><!-- /container -->
<!-- /PORTFOLIO -->