
/* ============================================================
    Modal | All listings.
============================================================ */
#social-links li {
    color: #000;
}

#modal-section li {
    color: #000;
}

/* ============================================================
    Visual Fixes
============================================================ */
/* Color fix before Summary section. */
app-main div.tp-bannershadow.tp-shadow1 {
    background-color: #e8eaee;
}

/* ============================================================
    Generic Styles
============================================================ */
/* Width */
.width-60p { width: 60px; }

/* Font Sizes */
.font-size-12 { font-size: 12px; }
.font-size-larger { font-size: larger; }
.font-size-x-large { font-size: x-large; }
.text-bold { font-weight: bold; }

/* Color */
.color-white { color: #fff; }
.color-black { color: #000 !important; }

/* Margins */
.space-top-5 { margin-top: 5px; }
.space-top-20 { margin-top: 20px }
.margin-left-20p { margin-left: 20px; }
.margin-right-5p { margin-right: 5px; }

.padding-remove { padding: 0px; }