<!-- ===========================================================================================
  Header
=========================================================================================== -->
<app-header-return>Loading Header...</app-header-return>


<!-- ===========================================================================================
  Contents
=========================================================================================== -->
<div id="wrapper">
  <!-- PAGE TITLE / BREADCRUMB -->
  <header id="page-title">
    <div class="container">
      <h1>Portfolio</h1>

      <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="active">Portfolio</li>
      </ul>
    </div>
  </header>

  <!-- ======================================================================
    Software Engineering
  ======================================================================= -->
  <section id="portfolio-webdev" class="padding100">
    <div class="container">
      <h1 class="text-center">
        <strong>Software Engineering</strong>
        <span class="subtitle">WEB APPLICATIONS I'VE DEVELOPED USING WORDPRESS, ANGULAR, REACT, LAMP / MEAN.</span>
      </h1>
  
      <p class="lead">
        Thank you so much for viewing a few of my work that I've worked on. I really appreciate your time. I'm a believer in continuous
        education and putting theory into practice. Listed below are some of my work and achievements I've done. For those
        involved in the projects listed below, I am truly grateful for your contribution and I am glad you are a part of my
        team :)
      </p>
  
      <div class="row">
        <ul class="sort-destination isotope" data-sort-id="isotope-list">
          <li class="isotope-item col-sm-6 col-md-3 web-development" *ngFor="let project of arrProjects_webDev;">
            <div class="item-box">
              <figure>
                <a class="item-hover" data-toggle="modal" [attr.data-target]="'#' + project.id">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>PROJECT</strong> DETAIL
                  </span>
                </a>
                <img class="img-responsive" src="{{ project.image }}" style="width: 100%; height: auto; border: 0;" alt="{{ project.name }}"
                />
              </figure>
              <div class="item-box-desc">
                <h4>{{ project.name }}</h4>
                <small class="styleColor">{{ project.date }}</small>
              </div>
            </div><!-- /item-box -->
          </li><!-- .isotope-item -->
          <div class="clearfix"></div>
        </ul>
      </div><!-- /row -->
    </div>
  </section><!-- /container -->

  <!-- ======================================================================
    Professional Training
  ======================================================================= -->
  <section id="portfolio-webdev" class="padding100 special-row">
    <div class="container">
      <h1 class="text-center">
        <strong>Professional Training</strong>
        <span class="subtitle">WEB APPLICATIONS I'VE DEVELOPED USING WORDPRESS, ANGULAR, REACT, LAMP / MEAN.</span>
      </h1>
  
      <p class="lead">
        Thank you so much for viewing a few of my work that I've worked on. I really appreciate your time. I'm a believer in continuous
        education and putting theory into practice. Listed below are some of my work and achievements I've done. For those
        involved in the projects listed below, I am truly grateful for your contribution and I am glad you are a part of my
        team :)
      </p>
  
      <div class="row">
        <ul class="sort-destination isotope" data-sort-id="isotope-list">
          <li class="isotope-item col-sm-6 col-md-3 web-development" *ngFor="let project of arrProjects_certifications">
            <div class="item-box">
              <figure>
                <a class="item-hover" data-toggle="modal" [attr.data-target]="'#' + project.id">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>PROJECT</strong> DETAIL
                  </span>
                </a>
                <img class="img-responsive" src="{{ project.image }}" style="width: 100%; height: auto; border: 0;" alt="{{ project.name }}"
                />
              </figure>
              <div class="item-box-desc">
                <h4>{{ project.name }}</h4>
                <small class="styleColor">{{ project.date }}</small>
              </div>
            </div><!-- /item-box -->
          </li><!-- .isotope-item -->
        </ul>
      </div><!-- /row -->
    </div>
  </section><!-- /container -->


</div><!-- /wrapper -->
