<div id="modal-section"></div>

<!-- ===========================================================================================
    Body Wrapper
=========================================================================================== -->
<router-outlet></router-outlet>

<!-- ===========================================================================================
    Section: Footer
=========================================================================================== -->
<app-footer>Loading: Footer...</app-footer>
