<!-- ===========================================================================================
    Body Wrapper
=========================================================================================== -->
<router-outlet></router-outlet>

<!-- ===========================================================================================
    Section: Footer
=========================================================================================== -->
<app-footer>
    <img src="/assets/images/loader-wedges.svg" 
        class="center-block" 
        style="
            margin-top: 20px; margin-bottom: 20px;
            max-width: 100px; height: auto;
        "
        alt="Duane Leem" 
    /> <!-- /img -->
</app-footer>
