<div id="modal-section"></div>

<!-- ===========================================================================================
    Header
=========================================================================================== -->
<app-header>Loading Header...</app-header>

<!-- ===========================================================================================
    Body Wrapper
=========================================================================================== -->
<div id="wrapper">
    <app-main>Loading: Section Main...</app-main>

    <app-summary>Loading: Summary...</app-summary>

    <app-portfolio>Loading: Portfolio...</app-portfolio>

    <app-testimonials>Loading: Testimonials...</app-testimonials>
</div>

<!-- ===========================================================================================
    Section: Footer
=========================================================================================== -->
<app-footer>Loading: Footer...</app-footer>
