<!-- Remove "margin-footer" if you use this on the middle of the page -->
<section class="cover margin-footer parallax" data-stellar-background-ratio="0.7" style="background-image: url('assets/images/testimonials-bg.jpg');">
    <span class="overlay"></span>

    <div class="container">
        <div class="owl-carousel text-center" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "autoPlay": true, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <div class="testimonial">
                <p>
                    I treasure my/our relationship with you and I love working with you as well. Thank you for all 
                    you do and all you invest in SHC with your time, talent, care, and dedication. You are a gem and 
                    I and we would be totally lost without you.
                </p>
                <p>
                    Duane, Thank you for being one of my heroes...
                </p>
                <cite><strong>Barb Schwarz</strong>, CEO at StagedHomes.com</cite>
            </div>

            <div class="testimonial">
                <p>
                    Duane was very resourceful and highly motivated when working the Help Desk at Vodafone. All the internal customers loved how patient and personable he was over the phone when assisting them with their issues. Duane was able to handle multiple tasks and was always willing to work outside his job responsibilties. If he didn't know an answer he would do the research to find it. I highly recommmend him as a valued employee.
                </p>
                <cite><strong>Sharen Hamasaki</strong>, Sr. System Administrator at Vodafone</cite>
            </div>

            <div class="testimonial">
                <p>
                    Duane was always there to help resolve any desktop issues. He always goes above and beyond to make sure his customers are extremely satisfied with his resolution. I have seen Duane work diligently to help with issues. He is always patient with the customers and always makes them think that they are his only priority and works on resolving issues as quickly as possible. He is also very knowledgeable about the latest technology. He was a great pleasure to work with.
                </p>
                <cite><strong>Nandita Adhia</strong>, Software Configuration Manager at Vodafone</cite>
            </div>

            <div class="testimonial">
                <p>
                    Very Knowledgeable fast paced Technician. With outstanding Customer Service skills. An asset to any company.
                </p>
                <cite><strong>Carlos Robertson</strong>, Technical Support Representative II at AT&T Internet Services</cite>
            </div>

            <div class="testimonial">
                <p>
                    Duane was always there to help resolve any desktop issues. He always goes above and beyond to make sure his customers are extremely satisfied with his resolution. I have seen Duane work diligently to help with issues. He is always patient with the customers and always makes them think that they are his only priority and works on resolving issues as quickly as possible. He is also very knowledgeable about the latest technology. He was a great pleasure to work with.
                </p>
                <cite><strong>Felicia Vierra</strong>, Technical Support Analyst at StagedHomes.com</cite>
            </div>

            <div class="testimonial">
                <p>
                    Duane was always there to help resolve any desktop issues. He always goes above and beyond to make sure his customers are extremely satisfied with his resolution. I have seen Duane work diligently to help with issues. He is always patient with the customers and always makes them think that they are his only priority and works on resolving issues as quickly as possible. He is also very knowledgeable about the latest technology. He was a great pleasure to work with.
                </p>
                <cite><strong>Ondrej Dobes</strong>, Team Lead at AT&T Internet Services</cite>
            </div>

            <div class="testimonial">
                <p>
                    Duane is such a joy to work with!!! His positive, can-do attitude is always appreciated! He's the best!!!
                </p>
                <cite><strong>BJ Johnson</strong>, Director of Operations at IAHSP</cite>
            </div>

            <div class="testimonial">
                <p>
                    You are definitely a hero, Duane! I'm so lucky to know and work with you. Your knowledge and expertise is 
                    invaluable to all the StagedHomes.com team. Thanks for always being there to help with our technical 
                    dilemmas!
                </p>
                <cite><strong>Lynne Baum</strong>, Accounting Manager at StagedHomes.com</cite>
            </div>

            <div class="testimonial">
                <p>
                    Duane is a great hire. His work ethics and professionalism make him well-liked by personnel and 
                    customers alike. His knowledge of network systems and hardware is a great asset to the company. His 
                    passion to learn and pick up new technologies quickly shows his great potential.
                </p>
                <cite><strong>Ivan Bueno</strong>, Lead Web Developer at StagedHomes.com</cite>
            </div>

            <div class="testimonial">
                <p>
                    Duane is enthusiastic about his work and always makes himself available to his colleagues. He's helpful, 
                    knowledgeable and a great problem solver. He's able to take on multiple projects at a time and goes out 
                    of his way to accomplish them in a timely manner. It was a real treat to work with Duane!
                </p>
                <cite><strong>Michelle Payne,</strong>, Marketing Manager at StagedHomes.com</cite>
            </div>
        </div><!-- /owl-carousel -->
    </div><!-- /container -->
</section>