<section id="summary" class="padding100">
    <div class="container">
        <h1 class="text-center"><strong>Career</strong> Summary</h1>

        <p class="lead">
            Since 2000, I've been supporting business partners and clients; managed systems and networks; and 
            developed many applications.  My IT career emphasis is in Software Engineering and Project Management.  
            I've put together a timeline below that summarizes my experience in the IT domain.
        </p>
        
        <!-- Timeline -->
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <app-timeline></app-timeline>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>