<section id="summary" class="padding100">
    <div class="container">

        <h1 class="text-center"><strong>Career</strong> Summary</h1>
        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <p>
                    I've worked for corporations such as Bank of America where I have provided support to my business partners with their 
                    banking information systems. I've also worked for telecommunications corporations, Vodafone Americas Inc and AT&T, where 
                    I have provided IT support to many of my business partners. I've also worked for many dental companies and help achieve 
                    their IT goals by enabling their business with the required IT infrastructure to help them achieve their business mission.
                </p>

                <p>
                    I currently work at the leading Home Staging education company in the world, Staged Homes, as the Director of IT where I am 
                    responsible for the IT operations and ensuring that our customers, our Accredited Staging Professionals, achieve their Home 
                    Staging and business goals through the use of our systems. I was hired as a Network Administrator in 2006 to assist my business 
                    partners with their network and computer problems. Today, my responsibilities are to develop web applications, manage our servers, 
                    and essentially execute IT projects that achieve our organization's goals.
                </p>

                <p>
                    I attained my ITIL Foundation v3 (IT Service Management) certification in July 2013; Project Management Professional 
                    certification in December 2013; my Scrum Master (agile development) certificate in April 2014; and my Masters degree in IT management 
                    from Golden Gate University (Ageno School of Business) in August 2014 for the ultimate goal to provide the highest level of IT 
                    management and support to all my business partners and especially to my valued customers.
                </p>
            </div><!-- /col -->

            <div class="col-xs-12 col-lg-6">
                <!-- Timeline -->
                <div class="timeline">
                
                    <!-- Line component -->
                    <div class="line text-muted"></div>

                    <!-- Separator -->
                    <div class="separator text-muted">
                        <time>Year 2016</time>
                    </div>
                    <!-- /Separator -->
                
                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">Full Stack MEAN Developer</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">Advanced Java</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">AWS Certified Developer</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Separator -->
                    <div class="separator text-muted">
                        <time>Year 2014</time>
                    </div>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left"><strong>Master of Science in IT Management</strong></h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">R Programming</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">Certified Scrum Master (CSM)</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Separator -->
                    <div class="separator text-muted">
                        <time>Year 2010-2013</time>
                    </div>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">Project Management Professional (PMP&reg;)</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">IT Infrastructure Library (ITIL v3)</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-success">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                        <!-- /Icon -->
                
                        <!-- Heading -->
                        <div class="panel-heading text-bold">
                            <h3 class="panel-title pull-left">StagedHomes.com | Director of Technology</h3>
                            <a href="" class="btn btn-success btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /Heading -->
                    </article>

                    <!-- Separator -->
                    <div class="separator text-muted">
                        <time>Year 2006</time>
                    </div>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">Bachelor of Science in Information Technology</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                    
                    <!-- Panel -->
                    <article class="panel panel-success">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading text-bold">
                            <h3 class="panel-title pull-left">StagedHomes.com | Network Administrator</h3>
                            <a href="" class="btn btn-success btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Separator -->
                    <div class="separator text-muted">
                        <time>Year 2005+</time>
                    </div>

                    <!-- Panel -->
                    <article class="panel panel-success">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading text-bold">
                            <h3 class="panel-title pull-left">Vodafone | Help Desk Analyst</h3>
                            <a href="" class="btn btn-success btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-success">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading text-bold">
                            <h3 class="panel-title pull-left">AT&T | Technical Support Representative II</h3>
                            <a href="" class="btn btn-success btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-success">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading text-bold">
                            <h3 class="panel-title pull-left">@Com Technology | Technical Support Engineer</h3>
                            <a href="" class="btn btn-success btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-success">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading text-bold">
                            <h3 class="panel-title pull-left">Bank of America | Technical Support Analyst</h3>
                            <a href="" class="btn btn-success btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                    <!-- Panel -->
                    <article class="panel panel-warning">
                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">AAS in Computer Technology</h3>
                            <a href="" class="btn btn-warning btn-sm pull-right">View</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                
                </div>
                <!-- /Timeline -->
            </div><!-- /col -->
        </div><!-- /row -->
        
        <hr />
        
        <!-- BORN TO BE A WINNER -->
        <article class="row">
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="template/images/demo/about_1.jpg" width="555" height="311" alt="">
                    </div>
                    <div>
                        <iframe src="http://player.vimeo.com/video/25076865" width="800" height="450"></iframe>
                    </div>
                    <div>
                        <img class="img-responsive" src="template/images/demo/about_2.jpg" width="555" height="311" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Atropos : Born to be a Winner</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
            </div>

        </article>
        <!-- /BORN TO BE A WINNER -->




        <!-- WHO WE ARE and SKILLS -->
        <article class="row margin-top60">
            <div class="col-md-6">
                <h3>Who is Atropos</h3>

                <div class="toogle">

                    <div class="toggle">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <h3>Atropos Alien Skills</h3>

                <div class="progress-bars">

                    <div class="progress-label">
                        <span>HTML/CSS</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Design</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="86%" data-appear-animation-delay="300">
                            <span class="progress-bar-tooltip">86%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Mysql</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="69%" data-appear-animation-delay="600">
                            <span class="progress-bar-tooltip">69%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>PHP</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="96%" data-appear-animation-delay="900">
                            <span class="progress-bar-tooltip">96%</span>
                        </div>
                    </div>

                </div>

            </div>
        </article>
        <!-- /WHO WE ARE and SKILLS -->

    </div>
</section>