<div class="fullscreenbanner-container">
    <div class="fullscreenbanner" >
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                <!-- MAIN IMAGE -->
                <img src="images/home-data-center.jpg"  alt="Data Center"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_bold_white customin customout"
                    data-x="center" data-hoffset="0"
                    data-y="200"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1000"
                    data-start="800"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 2">Duane Leem
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption largegreenbg customin customout"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-40"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1000"
                    data-start="900"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 3">Professional Web Developer
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption small_light_white customin customout"
                    data-x="center" data-hoffset="20"
                    data-y="bottom" data-voffset="-225"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="Power4.easeInOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeInOut"
                    style="z-index: 4; font-size: x-large;">
                    
                    Since 1999, Duane Leem has been providing IT solutions to many business partners in different industry <br />
                    sectors in banking, telecommunications, web hosting, real estate, and the home staging industry.  He is a <br />
                    certified Project Manager; has a Masters in IT Management; and have developed countless of web applications <br />
                    professionally. 
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption customin"
                    data-x="center" data-hoffset="30"
                    data-y="50"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1800"
                    data-easing="Power4.easeInOut"
                    data-endspeed="300"
                    data-linktoslide="next"
                    style="z-index: 5"><img src="template/images/demo/revolution_slider/rightarrow.png" alt="">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption customin"
                    data-x="center" data-hoffset="-30"
                    data-y="50"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1700"
                    data-easing="Power4.easeInOut"
                    data-endspeed="300"
                    data-linktoslide="prev"
                    style="z-index: 6"><img src="template/images/demo/revolution_slider/leftarrow.png" alt="">
                </div>

            </li>

        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
