<!-- REVOLUTION SLIDER -->
<div class="fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner">
        <ul>	
            <!-- SLIDE 1  -->
            <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Duane Leem">

                <!-- COVER IMAGE -->
                <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/template/images/dummy.png" data-lazyload="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/home-data-center.jpg" alt="Data Center" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                <div class="tp-caption largegreenbg very_large_text lfl stl" style="padding: 0px 20px 0px 20px;"
                    data-x="right" data-hoffset="-30"
                    data-y="205"
                    data-speed="300"
                    data-start="500"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        Duane Leem <span style="font-size: .5em;">MSc, PMP</span>
                </div>

                <div class="tp-caption large_bold_grey medium_bg_darkblue lfl stl"
                    data-x="right" data-hoffset="-30"
                    data-y="283"
                    data-speed="300"
                    data-start="800"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        Full Stack Development | LAMP &amp; MEAN
                </div>

                <div class="tp-caption large_bold_grey medium_bg_darkblue lfl stl"
                    data-x="right" data-hoffset="-30"
                    data-y="320"
                    data-speed="300"
                    data-start="800"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        Web Project Management | PMI-PMP &amp; Scrum Master
                </div>

                <div class="tp-caption large_bold_grey lfl stl"
                    data-x="right" data-hoffset="-30"
                    data-y="345"
                    data-speed="300"
                    data-start="800"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        <a type="button" class="btn btn-success btn-xs margin-right-5p" onclick="document.getElementById('linkSummary').click();"><i class="fa fa-briefcase" aria-hidden="true"></i>Career Timeline</a>
                        <a type="button" class="btn btn-success btn-xs" onclick="document.getElementById('linkPortfolio').click();"><i class="fa fa-heart" aria-hidden="true"></i>Projects</a>
                </div>

                <!-- Mini Images -->
                <div>
                    <div class="tp-caption randomrotate"
                        data-x="48"
                        data-y="131"
                        data-speed="600"
                        data-start="1100"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201404-scrum-csm.jpg" class="image-sample" alt="Certified Scrum Master" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="90"
                        data-y="206"
                        data-speed="600"
                        data-start="1200"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/projects/iahspconexpo.jpg" class="image-sample" alt="IAHSP Convention and Expo 2017"/>
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="205"
                        data-y="140"
                        data-speed="600"
                        data-start="1300"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/projects/barbschwarz.jpg" class="image-sample" alt="Barb-Schwarz.com" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="188"
                        data-y="246"
                        data-speed="300"
                        data-start="1400"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201504-masters-itm.jpg" class="image-sample" alt="Masters of Science in Information Technology Management" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="55"
                        data-y="316"
                        data-speed="600"
                        data-start="1500"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/projects/getredbox.jpg" width="140" height="140" alt="GetRedBox.com" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="173"
                        data-y="329"
                        data-speed="300"
                        data-start="1600"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201312-pmp.jpg" class="image-sample" alt="Project Management Professional" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="255"
                        data-y="294"
                        data-speed="300"
                        data-start="1700"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201504-masters-itm.jpg" class="image-sample" alt="Masters of Science in Information Technology Management" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="275"
                        data-y="166"
                        data-speed="300"
                        data-start="1800"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201602-aws-developer.jpg" class="image-sample" alt="Certified AWS Developer" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="84"
                        data-y="113"
                        data-speed="300"
                        data-start="1900"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201606-fullstack.jpg" class="image-sample" alt="Full Stack Development" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="26"
                        data-y="225"
                        data-speed="300"
                        data-start="2000"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/projects/rosi-calculator.jpg" class="image-sample" alt="ROSI Calculator" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="110"
                        data-y="187"
                        data-speed="300"
                        data-start="2100"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/projects/ebkd.jpg" class="image-sample" alt="EastBayKarate-Do.com" />
                    </div>

                    <div class="tp-caption randomrotate"
                        data-x="183"
                        data-y="221"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeOutExpo">
                        <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/projects/stagedhomes.jpg" class="image-sample" alt="StagedHomes.com" />
                    </div>
                </div>
            </li>

            <!-- SLIDE 2  -->
            <li class="text-center" data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Duane Leem">

                <!-- COVER IMAGE -->
                <div style="filter: brightness(50%);"><img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/template/images/dummy.png" data-lazyload="https://d1xrp9zhb3ks3c.cloudfront.net/web/getredbox/images/wallpaper-desktop-with-laptop.jpg" alt="Data Center" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" /></div>

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                    data-x="center"
                    data-y="center"
                    data-start="0"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                    data-transform_out="o:0;s:600;"
                    data-width="5000"
                    data-height="5000">
                </div>
                
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_text"
                    data-x="center"
                    data-y="110"
                    data-speed="300"
                    data-start="500"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        Engineering Scalable Applications
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption mediumlarge_light_white_center"
                    data-x="center"
                    data-y="170"
                    data-speed="300"
                    data-start="700"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        Written applications using the latest in Web Technologies.
                </div>

                <!-- LAYER NR. 3: Font Awesome Icons -->
                <div class="tp-caption mediumlarge_light_white_center"
                    data-x="center"
                    data-y="230"
                    data-speed="300"
                    data-start="900"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        <i class="fab fa-angular fa-2x margin-right-20px"></i>
                        <i class="fab fa-react fa-2x margin-right-20px"></i>
                        <i class="fab fa-php fa-2x margin-right-20px"></i>
                        <i class="fab fa-wordpress fa-2x margin-right-20px"></i>
                        <i class="fab fa-aws fa-2x"></i>
                </div>

                <!-- LAYER NR. 3: Font Awesome Icons -->
                <div class="tp-caption mediumlarge_light_white_center"
                    data-x="center"
                    data-y="320"
                    data-speed="300"
                    data-start="1100"
                    data-easing="easeOutExpo" 
                    data-endspeed="300" 
                    data-endeasing="easeInSine">
                        <a href="#portfolio" class="btn btn-primary"><i class="fas fa-angle-double-down margin-right-10px"></i>View Projects</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /REVOLUTION SLIDER -->