
/* ============================================================
    Modal | All listings.
============================================================ */
#social-links li {
    color: #000;
}

#modal-section li {
    color: #000;
}

/* ============================================================
    Visual Fixes
============================================================ */
/* Color fix before Summary section. */
app-main div.tp-bannershadow.tp-shadow1 {
    background-color: #e8eaee;
}

/* Logo Fix.  Usually width is 40px. */
.logo-main { max-width: 267px; height: auto; }

/* ============================================================
    Generic Styles
============================================================ */
/* Width & Height */
.width-60p { width: 60px; }

/* Font Sizes */
.font-size-12 { font-size: 12px; }
.font-size-larger { font-size: larger; }
.font-size-x-large { font-size: x-large; }
.text-bold { font-weight: bold; }

/* Alignment */
.text-align-left { text-align: left; }

/* Color */
.color-white { color: #fff; }
.color-black { color: #000 !important; }

/* Margins */
.space-top-5 { margin-top: 5px; }
.space-top-20 { margin-top: 20px }
.space-top-40 { margin-top: 40px }
.space-bottom-10 { margin-bottom: 10px; }
.space-bottom-20 { margin-bottom: 20px; }
.space-bottom-40 { margin-bottom: 40px; }
.margin-0 { margin: 0px; }
.margin-left-20p { margin-left: 20px; }
.margin-right-5p { margin-right: 5px; }

.padding-remove { padding: 0px; }