<section id="summary" class="padding100 special-row">
    <div class="container">
        <h1 class="text-center"><strong>Career</strong> Summary</h1>

        <p class="lead">
            Beginning in the year 2000, I have been an instrumental resource for both business associates and clientele, skillfully managing 
            intricate systems and networking architectures, as well as crafting a diverse array of software applications. My professional 
            journey in the realm of Information Technology is particularly focused on the specialized fields of Software Engineering and 
            Project Management.
        </p>

        <p class="lead">
            To offer a comprehensive overview of my career milestones, I've assembled a detailed timeline that highlights my depth of experience within the IT sector.
        </p>
        
        <!-- Timeline -->
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <app-timeline></app-timeline>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>