<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="timeline timeline-line-dotted">
                <!-- =======================================================
                    Today
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Today</span>
                </span>

                <!-- Full Stack MEAN Developer -->
                <app-timeline-item class="timeline-item"
                    [objAchievement] = "{
                        'modalID': 'mean',
                        'title': 'Full Stack MEAN Developer',
                        'provider': 'Hong Kong University Computer Science & Technology',
                        'type': 'certificate',
                        'finishedDate': 'June 2016',
                        'imgSrc': 'images/achievements/201606-fullstack.jpg',
                        'socialLinks': {
                            'website': 'https://www.cse.ust.hk/',
                            'facebook': 'https://www.facebook.com/hkust/',
                            'coursera': 'https://www.coursera.org/specializations/full-stack/'
                        },
                        'description': 'Full Stack Web Development program taught by Hong Kong University of Science and Technology through the Coursera platform trains students on Front-End, Back-End, and Hybrid Mobile development using HTML/CSS/JS, AngularJS, NodeJS, MongoDB, and the Ionic Framework.', 
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Advanced Java Programming -->
                <app-timeline-item class="timeline-item"
                    [objAchievement] = "{
                        'modalID': 'dvcjava',
                        'title': 'Advanced Java Programming',
                        'provider': 'Diablo Valley College, Advanced Technology Center',
                        'type': 'certificate',
                        'finishedDate': 'May 2016',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.dvc.edu/',
                            'facebook': 'https://www.facebook.com/DVC.Vikings/'
                        },
                        'description': 'Program covers advanced topics in Java programming including multithreading, exception handling, serialization, reflection, model view controller architecture, java beans, servlets and database connectivity.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- AWS Certified Developer -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'awsdeveloper',
                        'title': 'AWS Certified Developer',
                        'type': 'certification',
                        'provider': 'Amazon Web Services',
                        'finishedDate': 'February 2016',
                        'imgSrc': 'images/achievements/201602-aws-developer.jpg',
                        'socialLinks': {
                            'website': 'https://aws.amazon.com/certification/certified-developer-associate/'
                        },
                        'description': 'Validates technical expertise in developing and maintaining applications on the AWS platform written for Amazon S3, Amazon DynamoDB, Amazon SQS, Amazon SNS, Amazon Simple Workflow Service, AWS Elastic Beanstalk, and AWS CloudFormation',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Web Project Manager at Novactive -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'pmnovactive',
                        'title': 'Web Project Manager',
                        'provider': 'Novactive',
                        'type': 'position',
                        'finishedDate': 'February 2015',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://novactive.us/'
                        },
                        'description': 'Develop Work Breakdown Structures (WBS); Technical Specifications for Project Requirements; oversee project development time and cost to stay within the allotted timeframe and budget.',
                        'description_full': null
                    }"
                ></app-timeline-item>


                <!-- =======================================================
                    Year 2015
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Year 2015</span>
                </span>

                <!-- MSc IT Management -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'msitm',
                        'title': 'Master of Science in IT Management',
                        'type': 'certificate',
                        'provider': 'Golden Gate University, Ageno School of Business',
                        'finishedDate': 'April 2014',
                        'imgSrc': null,
                        'description': 'Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Certified Scrum Master -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'scrummaster',
                        'title': 'Certified Scrum Master',
                        'type': 'certification',
                        'provider': 'Scrum Alliance',
                        'finishedDate': 'April 2014',
                        'imgSrc': null,
                        'description': 'Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Project Management Professional -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'scrummaster',
                        'title': 'Project Management Professional',
                        'type': 'certification',
                        'provider': 'Project Management Institute',
                        'finishedDate': 'December 2013',
                        'imgSrc': null,
                        'description': 'Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.',
                        'description_full': null
                    }"
                ></app-timeline-item>


                <!-- =======================================================
                    Year 2010
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Year 2010</span>
                </span>

                <!-- Directory of Technology at StagedHomes.com -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'shcDirectorofTechnology',
                        'title': 'Director of Technology',
                        'provider': 'StagedHomes.com',
                        'type': 'position',
                        'finishedDate': 'December 2010',
                        'imgSrc': null,
                        'description': 
                            'Develop digital product solutions to Home Stagers by creating web and mobile applications that are tailored to providing Home Staging education contents.\n
                            My responsibility includes managing the organization\'s IT infrastructure; managing development and support personnel; and creating web and mobile applications aimed to solve business needs.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- MSc IT Management -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'bsit',
                        'title': 'Bachelor of Science in Information Technology',
                        'type': 'certificate',
                        'provider': 'University of Phoenix, College of Information Systems & IT',
                        'finishedDate': 'June 2007',
                        'imgSrc': null,
                        'description': 'Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Lead Web Developer at StagedHomes.com -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'shcLeadWebDev',
                        'title': 'Lead Web Developer',
                        'provider': 'StagedHomes.com',
                        'type': 'position',
                        'finishedDate': 'January 2007',
                        'imgSrc': null,
                        'description': 'Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Network Administrator at StagedHomes.com -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'shcNetworkAdmin',
                        'title': 'Network Administrator',
                        'provider': 'StagedHomes.com',
                        'type': 'position',
                        'finishedDate': 'August 2006',
                        'imgSrc': null,
                        'description': 'Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- =======================================================
                    Year 2005
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Year 2005</span>
                </span>

                <!-- Help Desk Analyst at Vodafone -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'helpdesk',
                        'title': 'Help Desk Analyst',
                        'provider': 'Vodafone',
                        'type': 'position',
                        'finishedDate': 'September 2005',
                        'imgSrc': null,
                        'description': 'Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Technical Support Representative II at AT&T -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'attsupport2',
                        'title': 'Technical Support Representative II',
                        'provider': 'AT&T',
                        'type': 'position',
                        'finishedDate': 'September 2004',
                        'imgSrc': null,
                        'description': 'Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Technical Support Engineer at @Com Technology -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'atcom',
                        'title': 'Technical Support Engineer',
                        'provider': '@Com Technology',
                        'type': 'position',
                        'finishedDate': 'September 2003',
                        'imgSrc': null,
                        'description': 'Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Technical Support Analyst at Bank of America -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'bofasupport',
                        'title': 'Technical Support Analyst',
                        'provider': 'Bank of America',
                        'type': 'position',
                        'finishedDate': 'January 2002',
                        'imgSrc': null,
                        'description': 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.',
                        'description_full': null
                    }"
                ></app-timeline-item>


                <!-- =======================================================
                    Year 2001
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Year 2001</span>
                </span>

                <!-- Associate of Applied Science in Computer Technology -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'aasct',
                        'title': 'Associate of Applied Science in Computer Technology',
                        'type': 'certificate',
                        'provider': 'Heald Institute of Technology',
                        'finishedDate': 'June 2001',
                        'imgSrc': null,
                        'description': 'Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- A+ Certified Computer Technician -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'comptiaaplus',
                        'title': 'A+ Certified Computer Technician',
                        'type': 'certification',
                        'provider': 'CompTIA',
                        'finishedDate': 'February 2001',
                        'imgSrc': null,
                        'description': 'Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- Technical Support Engineer at Verio -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'bofasupport',
                        'title': 'Technical Support Engineer',
                        'provider': 'Verio',
                        'type': 'position',
                        'finishedDate': 'January 2001',
                        'imgSrc': null,
                        'description': 'Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.',
                        'description_full': null
                    }"
                ></app-timeline-item>


                <!-- =======================================================
                    Year 2000
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Year 2000</span>
                </span>

                <!-- Telecommunications Specialist at NorthPoint Communications -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'bofasupport',
                        'title': 'Telecommunications Analyst',
                        'provider': 'NorthPoint Communications',
                        'type': 'position',
                        'finishedDate': 'November 2000',
                        'imgSrc': null,
                        'description': 'Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.',
                        'description_full': null
                    }"
                ></app-timeline-item>

                <!-- =======================================================
                    Career Start
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Career Start</span>
                </span>

            </div><!-- /timeline -->
        </div>
    </div>
</div>