<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="timeline timeline-line-dotted">
                <!-- =======================================================
                    Today
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Web Programming Training</span>
                </span>

                <!-- Full Stack MEAN Developer -->
                <app-timeline-item class="timeline-item"
                    [objAchievement] = "{
                        'modalID': 'mean',
                        'title': 'Full Stack MEAN Developer',
                        'provider': 'Hong Kong University Computer Science & Technology',
                        'type': 'certificate',
                        'startDate': 'June 2016',
                        'imgSrc': 'images/achievements/201606-fullstack.jpg',
                        'socialLinks': {
                            'website': 'https://www.cse.ust.hk/',
                            'facebook': 'https://www.facebook.com/hkust/',
                            'programDescription': 'https://www.coursera.org/specializations/full-stack/'
                        },
                        'description': 'Full Stack Web Development program taught by Hong Kong University of Science and Technology through the Coursera platform trains students on Front-End, Back-End, and Hybrid Mobile development using HTML/CSS/JS, AngularJS, NodeJS, MongoDB, and the Ionic Framework.'
                    }"
                ></app-timeline-item>

                <!-- Advanced Java Programming -->
                <app-timeline-item class="timeline-item"
                    [objAchievement] = "{
                        'modalID': 'dvcjava',
                        'title': 'Advanced Java Programming',
                        'provider': 'Diablo Valley College, Advanced Technology Center',
                        'type': 'certificate',
                        'startDate': 'May 2016',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.dvc.edu/',
                            'facebook': 'https://www.facebook.com/DVC.Vikings/'
                        },
                        'description': 'Program covers advanced topics in Java programming including multithreading, exception handling, serialization, reflection, model view controller architecture, java beans, servlets and database connectivity.'
                    }"
                ></app-timeline-item>

                <!-- AWS Certified Developer -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'awsdeveloper',
                        'title': 'AWS Certified Developer',
                        'type': 'certification',
                        'provider': 'Amazon Web Services',
                        'startDate': 'February 2016',
                        'imgSrc': 'images/achievements/201602-aws-developer.jpg',
                        'socialLinks': {
                            'programDescription': 'https://aws.amazon.com/certification/certified-developer-associate/'
                        },
                        'description': 'Validates technical expertise in developing and maintaining applications on the AWS platform written for Amazon S3, Amazon DynamoDB, Amazon SQS, Amazon SNS, Amazon Simple Workflow Service, AWS Elastic Beanstalk, and AWS CloudFormation'
                    }"
                ></app-timeline-item>


                <!-- =======================================================
                    Year 2015
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">IT Management Training</span>
                </span>

                <!-- Web Project Manager at Novactive -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'pmnovactive',
                        'title': 'Web Project Manager',
                        'provider': 'Novactive',
                        'type': 'position',
                        'startDate': 'February 2015',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://novactive.us/'
                        },
                        'description': 'Develop Work Breakdown Structures (WBS); Technical Specifications for Project Requirements; oversee project development time and cost to stay within the allotted timeframe and budget.'
                    }"
                ></app-timeline-item>

                <!-- MSc IT Management -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'msitm',
                        'title': 'Master of Science in IT Management',
                        'type': 'certificate',
                        'provider': 'Golden Gate University, Ageno School of Business',
                        'startDate': 'April 2014',
                        'imgSrc': 'images/achievements/201504-masters-itm.jpg',
                        'socialLinks': {
                            'website': 'http://ggu.edu/',
                            'degreeDescription': 'http://www.ggu.edu/programs/information-technology-management/master-of-science-in-information-technology-management'
                        },
                        'description': 'The core curriculum provides grounding in the key topics of IT governance and frameworks such as ITIL and COBIT, enterprise architecture, IT finance, capital budgeting, compliance and portfolio, and program management. These skills are enhanced with a strong set of basic business knowledge and managerial skills in business dynamics, communication, leadership, problem solving, accounting and finance, and analytical skills (GGU.edu, 2013).'
                    }"
                ></app-timeline-item>

                <!-- Certified Scrum Master -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'scrummaster',
                        'title': 'Certified Scrum Master',
                        'type': 'certification',
                        'provider': 'Scrum Alliance',
                        'startDate': 'April 2014',
                        'imgSrc': 'images/achievements/201404-scrum-csm.jpg',
                        'socialLinks': {
                            'website': 'https://www.scrumalliance.org/',
                            'certificationDescription': 'https://www.scrumalliance.org/certifications/practitioners/certified-scrummaster-csm/'
                        },
                        'description': 'Attained professional training and certification in Scrum Agile Project Management to provide continuous delivery of software with my project teams using best practices in Agile Project Management.'
                    }"
                ></app-timeline-item>

                <!-- Project Management Professional -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'pmi-pmp',
                        'title': 'Project Management Professional',
                        'type': 'certification',
                        'provider': 'Project Management Institute',
                        'startDate': 'December 2013',
                        'imgSrc': 'images/achievements/201312-pmp.jpg',
                        'socialLinks': {
                            'website': 'http://www.pmi.org/',
                            'certificationDescription': 'http://www.pmi.org/certifications/types/project-management-pmp'
                        },
                        'description': 'To improve my knowledge and application in Project Management, I\'ve taken professional training and certification in PMI\'s Project Management Professional (PMP) certification to extend my capabilities by adding additional tools & techniques to my project management approach.'
                    }"
                ></app-timeline-item>


                <!-- =======================================================
                    Year 2010
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Technology Career at StagedHomes.com</span>
                </span>

                <!-- Directory of IT & Technology at StagedHomes.com -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'shcDirectorofTechnology',
                        'title': 'Director of IT & Technology',
                        'provider': 'StagedHomes.com',
                        'type': 'position',
                        'startDate': 'December 2010',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.stagedhomes.com/'
                        },
                        'description': 
                            'Develop digital product solutions to Home Stagers by creating web and mobile applications that are tailored to providing Home Staging education contents.\n
                            My responsibility includes managing the organization\'s IT infrastructure; managing development and support personnel; and creating web and mobile applications aimed to solve business needs.'
                    }"
                    [strFullDescription] = "'
                        <!-- Logo & Title -->
                        <div class=\'row\'>
                            <div class=\'col-xs-12\'>
                                <div class=\'media\'>
                                    <div class=\'media-left\'>
                                        <a href=\'\'>
                                            <img class=\'media-object width-60p\' src=\'https:\/\/d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/logo-stagedhomes.png\' alt=\'StagedHomes.com\'>
                                        </a>
                                    </div>
                                    <div class=\'media-body\'>
                                        <h3 class=\'media-heading text-bold\'>StagedHomes.com</h3>
                                        <div class=\'color-black\'>Director of IT & Technology | 2010 - Present</div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /row -->

                        <!-- Web Development -->
                        <section>
                            <div class=\'row space-top-20\'>
                                <div class=\'col-xs-12\'>
                                    <div class=\'text-bold\'>Web Development</div>
                                </div>
                            </div><!-- /row -->
                            
                            <div class=\'margin-left-20p\'>
                                <div class=\'row space-top-20\'>
                                    <div class=\'col-xs-12\'>
                                        <div>Develop a web portal for our customers so that they may:</div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Log into their profile.</li>
                                            <li>Modify their settings (customization).</li>
                                            <li>Download the latest images from the classes they have taken with our trainers.</li>
                                            <li>Upload Staged Property photos and photos of themselves for their profile.</li>
                                            <li>Download documentations provided by our online website.</li>
                                            <li>SEO enhanced website for our users so that their name can be found on search engines.</li>
                                            <li>View a list of vendors where they can find extraordinary deals.</li>
                                            <li>Receive leads from our website straight into their mailbox.</li>
                                        </ul>

                                        <div class=\'space-top-20\'>
                                            I have also implemented and customized administration pages so that our staff can manage our 
                                            customers through our online website. Here\'s a list of a few functions that I have implemented:
                                        </div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Modify customer data (for troubleshooting purposes).</li>
                                            <li>Ability to download reports such as when customers are expiring, or a list of our customers, and much more.</li>
                                            <li>Input classes which utilizes Google Maps API v3 as the Front End for our customers.</li>
                                            <li>Input students who have graduated from our courses into our database through the use of an Excel Document or CSV format.</li>
                                            <li>Input vendors and partners (with the ability to turn them off and on).</li>
                                        </ul>
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /row -->
                        </section>

                        <!-- Systems Management -->
                        <section>
                            <div class=\'row space-top-20\'>
                                <div class=\'col-xs-12\'>
                                    <div class=\'text-bold\'>Systems Management</div>
                                </div>
                            </div><!-- /row -->
                            
                            <div class=\'margin-left-20p\'>
                                <div class=\'row space-top-20\'>
                                    <div class=\'col-xs-12\'>
                                        <div>Provide IT support for all of StagedHomes:</div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Break/Fix issues that may arise.</li>
                                            <li>Maintenance on servers (updates / configuration).</li>
                                            <li>Provide support onsite or remote.</li>
                                            <li>Install & Configure workstations for Business Partners.</li>
                                            <li>Provide IT recommendations to management.</li>
                                            <li>Responsible for Software and Hardware inventory and purchases.</li>
                                        </ul>

                                        <div class=\'space-top-20\'>
                                            By utilizing a combination of <strong>Project Management</strong> and constantly evolving my understanding 
                                            of Information Systems, I am able to support the business strategies of Staged Homes through 
                                            my concentrated <strong>studies and experience in computer science</strong>. Technologies that I have used to 
                                            implement our integrated system:
                                        </div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Web Technologies: PHP, MySQL, HTML, CSS, JavaScript, AngularJS</li>
                                            <li>Server Technologies: Amazon EC2, IIS, MySQL, Windows Server, Red Hat Linux, CentOS, VMware ESXi</li>
                                            <li>Design Applications: Photoshop, InDesign, Illustrator, Adobe Acrobat, Paint.NET</li>
                                            <li>Analytics, CMS, CRM, & API: Google Analytics, SalesForce.com, R Programming, WordPress, Google Maps API v3, OS Commerce, Authorize.net, RegOnline, Constant Contact, Hubspot</li>
                                        </ul>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div><!-- /row -->
                        </section>
                    '"
                ></app-timeline-item>

                <!-- Bachelor of Science in Information Technology -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'bsit',
                        'title': 'Bachelor of Science in Information Technology',
                        'type': 'certificate',
                        'provider': 'University of Phoenix, College of Information Systems & Technology',
                        'startDate': 'June 2007',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.phoenix.edu/',
                            'degreeDescription': 'http://www.phoenix.edu/programs/degree-programs/technology/bachelors/bsit.html'
                        },
                        'description': '
                            I have studied at University of Phoenix under the Bachelor of Science In Information Technology degree 
                            program. Using the knowledge I have attained from the university: From using methodologies that provide 
                            effective project management, to developing Web and Software applications, I utilize the best practices in 
                            order to implement my work.
                        '
                    }"
                ></app-timeline-item>

                <!-- Lead Web Developer at StagedHomes.com -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'shcLeadWebDev',
                        'title': 'Lead Web Developer',
                        'provider': 'StagedHomes.com',
                        'type': 'position',
                        'startDate': 'January 2007',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.stagedhomes.com/'
                        },
                        'description': '
                            Translating business requirements to web solutions written in HTML, CSS, JavaScript,
                            PHP, and MySQL.  Worked with support to ensure our Accredited Staging Professionals 
                            (ASP&reg;) are provided help; and worked with my web developers and project stakeholders 
                            to code our next best website. 
                        '
                    }"
                    [strFullDescription] = "'
                        <!-- Logo & Title -->
                        <div class=\'row\'>
                            <div class=\'col-xs-12\'>
                                <div class=\'media\'>
                                    <div class=\'media-left\'>
                                        <a href=\'\'>
                                            <img class=\'media-object width-60p\' src=\'https:\/\/d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/logo-stagedhomes.png\' alt=\'StagedHomes.com\'>
                                        </a>
                                    </div>
                                    <div class=\'media-body\'>
                                        <h3 class=\'media-heading text-bold\'>StagedHomes.com</h3>
                                        <div class=\'color-black\'>Lead Web Developer | 2007 - 2010</div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /row -->

                        <!-- Web Development -->
                        <section>
                            <div class=\'row space-top-20\'>
                                <div class=\'col-xs-12\'>
                                    <div class=\'text-bold\'>Web Development</div>
                                </div>
                            </div><!-- /row -->
                            
                            <div class=\'margin-left-20p\'>
                                <div class=\'row space-top-20\'>
                                    <div class=\'col-xs-12\'>
                                        <div>Develop a web portal for our customers so that they may:</div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Log into their profile.</li>
                                            <li>Modify their settings (customization).</li>
                                            <li>Download the latest images from the classes they have taken with our trainers.</li>
                                            <li>Upload Staged Property photos and photos of themselves for their profile.</li>
                                            <li>Download documentations provided by our online website.</li>
                                            <li>SEO enhanced website for our users so that their name can be found on search engines.</li>
                                            <li>View a list of vendors where they can find extraordinary deals.</li>
                                            <li>Receive leads from our website straight into their mailbox.</li>
                                        </ul>

                                        <div class=\'space-top-20\'>
                                            I have also implemented and customized administration pages so that our staff can manage our 
                                            customers through our online website. Here\'s a list of a few functions that I have implemented:
                                        </div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Modify customer data (for troubleshooting purposes).</li>
                                            <li>Ability to download reports such as when customers are expiring, or a list of our customers, and much more.</li>
                                            <li>Input classes which utilizes Google Maps API v3 as the Front End for our customers.</li>
                                            <li>Input students who have graduated from our courses into our database through the use of an Excel Document or CSV format.</li>
                                            <li>Input vendors and partners (with the ability to turn them off and on).</li>
                                        </ul>
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /row -->
                        </section>

                        <!-- Systems Management -->
                        <section>
                            <div class=\'row space-top-20\'>
                                <div class=\'col-xs-12\'>
                                    <div class=\'text-bold\'>Systems Management</div>
                                </div>
                            </div><!-- /row -->
                            
                            <div class=\'margin-left-20p\'>
                                <div class=\'row space-top-20\'>
                                    <div class=\'col-xs-12\'>
                                        <div>Provide IT support for all of StagedHomes:</div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Break/Fix issues that may arise.</li>
                                            <li>Maintenance on servers (updates / configuration).</li>
                                            <li>Provide support onsite or remote.</li>
                                            <li>Install & Configure workstations for Business Partners.</li>
                                            <li>Provide IT recommendations to management.</li>
                                            <li>Responsible for Software and Hardware inventory and purchases.</li>
                                        </ul>

                                        <div class=\'space-top-20\'>
                                            By utilizing a combination of <strong>Project Management</strong> and constantly evolving my understanding 
                                            of Information Systems, I am able to support the business strategies of Staged Homes through 
                                            my concentrated <strong>studies and experience in computer science</strong>. Technologies that I have used to 
                                            implement our integrated system:
                                        </div>
                                        <ul class=\'row space-top-20\'>
                                            <li>Web Technologies: PHP, MySQL, HTML, CSS, JavaScript</li>
                                            <li>Server Technologies: IIS, MySQL, Windows Server, Red Hat Linux, CentOS, VMware ESXi</li>
                                            <li>Design Applications: Photoshop, InDesign, Illustrator, Adobe Acrobat, Paint.NET</li>
                                            <li>Analytics, CMS, CRM, & API: Google Analytics, SalesForce.com, WordPress, Google Maps API v3, OS Commerce, Authorize.net, RegOnline, Constant Contact, Hubspot</li>
                                        </ul>
                                    </div><!-- /col -->
                                </div><!-- /row -->
                            </div><!-- /row -->
                        </section>
                    '"
                ></app-timeline-item>

                <!-- Network Administrator at StagedHomes.com -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'shcNetworkAdmin',
                        'title': 'Network Administrator',
                        'provider': 'StagedHomes.com',
                        'type': 'position',
                        'startDate': 'August 2006',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.stagedhomes.com/'
                        },
                        'description': '
                            Provide internal computer and network support for business partners.  Assisted with web 
                            development by updating our websites with updated Home Staging education contents provided
                            by management.
                        '
                    }"
                ></app-timeline-item>

                <!-- =======================================================
                    Year 2005
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Many Years of Helping People with IT</span>
                </span>

                <!-- Help Desk Analyst at Vodafone -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'helpdesk',
                        'title': 'Help Desk Analyst',
                        'provider': 'Vodafone',
                        'type': 'position',
                        'startDate': 'September 2005',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.vodafone.com/',
                            'facebook': 'https://www.facebook.com/VodafoneProject/'
                        },
                        'description': '
                            My responsibilities include providing Desktop Support for our business partners at our Walnut Creek office, 
                            and updating our company intranet website.
                        '
                    }"
                ></app-timeline-item>

                <!-- Technical Support Representative II at AT&T -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'attsupport2',
                        'title': 'Technical Support Representative II',
                        'provider': 'AT&T',
                        'type': 'position',
                        'startDate': 'September 2004',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'https://www.att.com/',
                            'facebook': 'https://www.facebook.com/ATT'
                        },
                        'description': '
                            Provide second tier technical assistance to DSL business and residential customers.
                            Utilize advance tools to resolve technical DSL problems and troubleshoot connectivity 
                            problems. 
                        '
                    }"
                ></app-timeline-item>

                <!-- Technical Support Engineer at @Com Technology -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'atcom',
                        'title': 'Technical Support Engineer',
                        'provider': '@Com Technology LLC',
                        'type': 'position',
                        'startDate': 'September 2003',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://atcomtechnology.com/'
                        },
                        'description': '
                            Assist customers with their domain name registrations and web hosting products.  Troubleshoot 
                            technical issues with all aspects of web development: DNS, hosting, and script/code issues. 
                        '
                    }"
                ></app-timeline-item>

                <!-- Technical Support Analyst at Bank of America -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'bofasupport',
                        'title': 'Technical Support Analyst',
                        'provider': 'Bank of America',
                        'type': 'position',
                        'startDate': 'January 2002',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'https://www.bankofamerica.com/',
                            'facebook': 'https://www.facebook.com/BankofAmerica/'
                        },
                        'description': '
                            Oversee Information Technology client needs by analyzing and providing solutions with various 
                            computer products that range from internal applications for our client to achieving remote 
                            access through their small to home office network. Helped troubleshoot problems with business 
                            partners and properly taking ownership of trouble tickets to help our user\'s needs as far 
                            finding a resolution.
                        '
                    }"
                ></app-timeline-item>


                <!-- =======================================================
                    Year 2001
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Early IT Career Years</span>
                </span>

                <!-- Associate of Applied Science in Computer Technology -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'aasct',
                        'title': 'Associate of Applied Science in Computer Technology',
                        'type': 'certificate',
                        'provider': 'Heald Institute of Technology',
                        'startDate': 'June 2001',
                        'imgSrc': null,
                        'description': '
                            Professionally trained in all foundational aspects of computer technology: building 
                            computers and networks from conception; installing, configuring, and troubleshooting 
                            servers; and programming software for desktop and developing web applications.
                        '
                    }"
                ></app-timeline-item>

                <!-- A+ Certified Computer Technician -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'comptiaaplus',
                        'title': 'A+ Certified Computer Technician',
                        'type': 'certification',
                        'provider': 'CompTIA',
                        'startDate': 'February 2001',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'https://www.comptia.org/',
                            'certificationDescription': 'https://certification.comptia.org/certifications/a'
                        },
                        'description': '
                            CompTIA A+ certification validates foundation-level knowledge and skills necessary for a career in PC support.
                        '
                    }"
                ></app-timeline-item>

                <!-- Technical Support Engineer at Verio -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'bofasupport',
                        'title': 'Technical Support Engineer',
                        'provider': 'Verio',
                        'type': 'position',
                        'startDate': 'January 2001',
                        'socialLinks': {
                            'website': 'https://www.verio.com/'
                        },
                        'imgSrc': null,
                        'description': '
                            Provide technical answers and solutions for customers who have problems with all aspects 
                            of web hosting.  This includes domain name problems; webhosting problems; and (but not limited
                            to) website configurations which incude server issues and website programming logic.
                        '
                    }"
                ></app-timeline-item>

                <!-- Telecommunications Specialist at NorthPoint Communications -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'northpoint',
                        'title': 'Telecommunications Analyst',
                        'provider': 'NorthPoint Communications',
                        'type': 'position',
                        'startDate': 'October 2000',
                        'imgSrc': null,
                        'description': '
                            Provided provisioning support for telecommunicaton services (DSL / T1).  Was
                            tasked to ensure any problems with
                        '
                    }"
                ></app-timeline-item>

                <!-- Provisioning Specialist at Qwest Communications -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'qwest',
                        'title': 'Provisioning Specialist',
                        'provider': 'Qwest Communications',
                        'type': 'position',
                        'startDate': 'September 2000',
                        'imgSrc': null,
                        'socialLinks': {
                            'website': 'http://www.centurylink.com/'
                        },
                        'description': '
                            Input DSL / T1 orders delivered by the sales team to provision new 
                            telecommunication services for businesses.
                        '
                    }"
                ></app-timeline-item>

                <!-- =======================================================
                    Career Start
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">IT Career Start</span>
                </span>

            </div><!-- /timeline -->
        </div>
    </div>
</div>