<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="timeline timeline-line-dotted">
                <!-- =======================================================
                    Today
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">Today</span>
                </span>

                <!-- Full Stack MEAN Developer -->
                <app-timeline-item class="timeline-item"
                    [objAchievement] = "{
                        'modalID': 'mean',
                        'title': 'Full Stack MEAN Developer',
                        'type': 'certificate',
                        'provider': 'Hong Kong University CST',
                        'finishedDate': 'June 2016',
                        'imgSrc': './images/achievements/201606-fullstack.jpg',
                        'description': '
                            Full Stack Web Development program taught by Hong Kong University of Science and Technology through the Coursera 
                            platform trains students on Front-End, Back-End, and Hybrid Mobile development using HTML/CSS/JS, AngularJS, NodeJS, 
                            MongoDB, and the Ionic Framework.
                        '
                    }"
                ></app-timeline-item>

                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'dvcjava',
                        'title': 'Advanced Java Programming',
                        'type': 'certificate',
                        'provider': 'Diablo Valley College | ATC',
                        'finishedDate': 'May 2016',
                        'imgSrc': './images/achievements/201606-fullstack.jpg',
                        'description': null
                    }"
                ></app-timeline-item>

                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'awsdeveloper',
                        'title': 'AWS Certified Developer',
                        'type': 'certification',
                        'provider': 'Amazon Web Services',
                        'finishedDate': 'February 2016',
                        'imgSrc': './images/achievements/201606-fullstack.jpg',
                        'description': null
                    }"
                ></app-timeline-item>

                

                <!-- =======================================================
                    Year 2010
                ======================================================= -->
                <span class="timeline-label">
                    <span class="label label-primary">2010</span>
                </span>

                <!-- Directory of Technology at StagedHomes.com -->
                <app-timeline-item class="timeline-item"
                    [objAchievement]="{
                        'modalID': 'shcDirectorofTechnology',
                        'title': 'Director of Technology',
                        'type': 'position',
                        'provider': 'StagedHomes.com',
                        'finishedDate': 'December 2010',
                        'imgSrc': null,
                        'description': null
                    }"
                ></app-timeline-item>

                <div class="timeline-item">
                    <div class="timeline-point timeline-point-warning">
                        <i class="fa fa-certificate"></i>
                    </div>

                    <div class="timeline-event timeline-event-warning">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8" style="vertical-align: middle;">
                                        <h3 class="panel-title"><strong>Director of Technology</strong></h3>
                                    </div>

                                    <div class="col-xs-4">
                                        <span class="pull-right"><a class="btn btn-warning btn-xs color-white" data-toggle="modal" data-target=".modelSHCDirectorTech">View</a></span>

                                        <!-- Modal -->
                                        <div class="modal fade modelSHCDirectorTech" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Director of Technology | StagedHomes.com</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary color-white" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /row -->
                            </div>
                            <div class="panel-body">
                                Full Stack Web Development program taught by Hong Kong University of Science and Technology through the Coursera 
                                platform trains students on Front-End, Back-End, and Hybrid Mobile development using HTML/CSS/JS, AngularJS, NodeJS, 
                                MongoDB, and the Ionic Framework.
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-7">
                                        StagedHomes.com
                                    </div>

                                    <div class="col-xs-5 text-right">
                                        December 2010
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>